body {
    background: #eee;
    color: #444;
    font-family: 'Helvetica', arial, sans-serif;
}
.container {
    background: #fff;
    max-width: 600px;
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #cfcbcc;
}
input {
    border: none;
    display: block;
    width: 98.4%;
    line-height: 1.5;
    padding: 8px 0 8px 10px;
    border-bottom: 1px solid #cfcbcc;
    outline: 0;
}
h1, h2 {
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
}
h2 {
    color: gray;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    color: #899098;
    font-weight: 400;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px 0;
}
ul li:before {
    content: "\25A2";
    padding: 10px 10px;
    font-size: 20px;
}

ul li:last-child {
    border-bottom: none;
}
.checked {
    color: green;
}
.checked:before {
    content: "\2705";
    padding: 10px 10px;
    font-size: 20px;
}
.checked:hover {
    text-decoration: none;
}

#todo-list i {
    display: block;
    font-size: 25px;
    color: #444;
    float: right;
    margin-top: 3px;
    margin-right: 25px;
}


#todo-list i:hover {
    cursor: pointer;
    color: red;
}

#edit-popup, #delete-popup, #info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 300px;
    width: 100%;
    background: linear-gradient(to right bottom, #ff5331, #a71c5a);
    padding: 50px;
}

#edit-popup #old-item{
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    border: 3px solid red;
    outline: 3px solid rgb(255, 255, 255);
}

#edit-popup button, #delete-popup button{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    margin-left: 35px;
    background-color: rgb(71, 255, 117);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#edit-popup #cancel, #delete-popup #no{
    background-color: tomato;
}

#edit-popup {
    display: none;
} 

#delete-popup {
    display: none;
}

#delete-popup p, #info-popup p {
    color: white;
    font-size: 17px;
}

#info-popup {
    display: none;
} 

#info-popup #content{
    text-align: center;
    font-size: 20px;
} 

